 <div class='row'>
   <div class='hidden-sm col-md-3'>
     <h2>New Team</h2>
     <%= render 'layouts/error_messages', model: @team %>
      <%= render 'teams/form', team: @team %>
   </div>
   <div class='col-sm-12 col-md-9'> 
      <h2>Teams</h2>
        <%= render 'teams/index', teams: @teams %>
        <%#= paginate @teams %>
   </div>
 </div>

      <!--#<h2>いいねランキング</h2>
      <%#= render 'teams/ranks', teams: @teams, all_ranks: Team.find(Favorite.group(:team_id).order('count(team_id) desc').limit(3).pluck(:team_id)) %>-->
  

