 <div class='row'>
   <div class='col-xs-3'>
     <h2>New Team</h2>
　　　　<%= render 'form', team: @team %>
   </div>
   <div class='col-xs-9'>
    　<h2>Teams</h2>
     　<%= render 'teams/index', teams: @teams %>
   </div>
 </div>



