<div class='row'>
  <div class='hidden-sm col-md-3'>
    <!--<h2>New Team</h2>-->
    <%#= render 'users/profile', user: @user %>
    <%#= render 'layouts/error_messages', model: @team_new %>

    <%#= render 'teams/form', team_new: @team_new, team: nil %>
    <%#= render partial: 'teams/form', locals: {team_new: @team_new, team: @team} %>
  </div>
  <div class='col-sm-12 col-md-9'>
    <h2>Team detail</h2>
      <div class="row">
      <%= render 'teams/detail', team: @team %>
      </div>
      <div class="row">
      <%= render 'teams/comment', team_comments: @team_comments, team_comment: @team_comment, team: @team %>
      </div>
  </div>
</div>


