<div class='row'>
  <div class='col-xs-3'>
    <h2>New Team</h2>
    <%= render 'form', team: @team %>
  </div>
  

  <div class='col-xs-9'>
    <h2>Team detail</h2>
    <table class='table'>
        <%= render 'detail', team: @team %>
    </table>
  </div>
</div>