<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'profile', user: @user %>
  </div>

  <div class='col-xs-3'>
    <h2>My Teams</h2>
    <%= render 'teams/index',teams: @teams %>
  </div>
</div>
