<div class='row'> 
 <div class='hidden-sm col-md-3'>
    <h2>User info</h2>
      <%= render 'users/profile', user: @user %>
    <h2>New Team</h2>
      <%= render 'teams/form', team_new: @team_new %>
      <%#= render partial: 'teams/form', locals: {team_new: @team_new, team: @team} %>
 </div>
 <div class='col-sm-12 col-md-9'>
    <h2>My Teams</h2>
      <%= render 'users/show', teams: @teams %>
 </div>
</div>
