<div class='row'> 
 <div class='hidden-sm col-md-3'>
    <h2>User info</h2>
      <%= render 'users/profile', user: @user %>
    <h2>New Team</h2>
      <%= render 'layouts/error_messages', model: Team.new %>
      <%= render 'teams/form', team: Team.new %>
 </div>
 <div class='col-sm-12 col-md-9'>
    <h2>My Teams</h2>
      <%= render 'users/show', teams: @teams %>
 </div>
</div>
