<div class="container-fluid">
    <div class="row">
    	<div class="col-xs-offset-2">
		    	<h3 class="col-xs-offset-2">「みんなのスカッド」へようこそ！</h3><br>
		    	    <h4 class="col-xs-offset-2">みんなのスカッドについて</h4>
		    	    <p>「みんなのスカッド」ウィニングイレブン愛好者のため作られたアプリケーションです。</p>
		    	    <p>このアプリケーションは、投稿、評価する事ができる、アプリケーションです。</p>
		    	    <p>普段あなたが使用しているチームスカッドを投稿し、ユーザー同士で評価することができます!</p>
		    	    <p>是非一度お試しください！</p>
		    	    <br>
		    	    <br>
		    	    <p>お問い合わせ</p>
		    		<p></p>
        </div>
    </div>
</div>