<div class="footer">
	<div class="container">
		<h4><%= link_to "-サイトについて-",homes_about_path,:style=>"color:green;" %></h4>
		<h4>ウィニングイレブンユーザーの為の　　　　©CopyRight　　squad　 All Rights Reserved.</h4>
	</div>
</div>
